<h1>Races per season with final results</h1>
<app-filters
  [query]="facade.queryParams$ | async"
  (queryChange)="onQueryChange($event)"
></app-filters>
<ng-container *ngIf="facade.data$ | async as data">
  <ng-container *ngFor="let race of data.result; let last = last">
    <h2>{{ race.season }} {{ race.raceName }}</h2>
    <app-table-preview
      [columns]="columns"
      [data]="{ count: data.count, result: race.Results }"
      [query]="facade.queryParams$ | async"
      [showPagination]="last"
      (queryChange)="onQueryChange($event)"
    ></app-table-preview>
    <br />
    <hr />
    <br />
  </ng-container>
</ng-container>
<div *ngIf="facade.loading$ | async" class="spinner">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
