<mat-form-field>
  <mat-select
    appSelectFilter="season"
    placeholder="Season"
    [value]="query?.season"
    (queryChange)="queryChange.emit($event)"
  >
    <mat-option [value]="2018">Select a season</mat-option>
    <mat-option
      *ngFor="let season of [2018, 2019, 2020, 2021, 2022]"
      [value]="season"
    >
      {{ season }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field [ngStyle]="{ marginLeft: '20px' }">
  <mat-select
    appSelectFilter="round"
    placeholder="Round"
    [value]="query?.round"
    (queryChange)="queryChange.emit($event)"
  >
    <mat-option>All</mat-option>
    <mat-option
      *ngFor="
        let round of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
          21, 22, 23
        ]
      "
      [value]="round"
    >
      {{ round }}
    </mat-option>
  </mat-select>
</mat-form-field>
