:host {
  display: grid;
  grid-template-rows: 1fr auto;
  overflow: hidden;
  position: relative;
}

.table-spinner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.table {
  overflow: auto;
}
