<div class="table-spinner" *ngIf="loading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<ng-template #linkTemplate let-column="column" let-element="element">
  <a target="_blank" [href]="get(column.value.url, element)">{{
    get(column.value.text, element)
  }}</a>
</ng-template>

<ng-template #normalTextTemplate let-column="column" let-element="element">{{
  get(column.value, element)
}}</ng-template>

<mat-table mat-table [dataSource]="data?.result ?? []" class="table">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container
    *ngFor="let column of columns; let i = index"
    [matColumnDef]="getColumnName(column, i)"
  >
    <mat-header-cell *matHeaderCellDef="let element">
      {{ get(column.title, element) }}
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <ng-container
        *ngTemplateOutlet="
          column.type === 'link' ? linkTemplate : normalTextTemplate;
          context: { column, element }
        "
      >
      </ng-container>
    </mat-cell>
  </ng-container>

  <mat-header-row
    *matHeaderRowDef="displayedColumns; sticky: true"
  ></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator
  *ngIf="showPagination"
  showFirstLastButtons
  [length]="data?.count"
  [pageIndex]="query?.page"
  [pageSize]="query?.limit"
  [pageSizeOptions]="[10, 15, 25]"
  (page)="
    queryChange.emit({
      page: $event.pageSize === query?.limit ? $event.pageIndex : 0,
      limit: $event.pageSize
    })
  "
>
</mat-paginator>
