<h1>Qualifying Results per race</h1>
<app-list-filter
  [filters]="filters"
  [query]="facade.queryParams$ | async"
  (queryChange)="onQueryChange($event)"
/>
<ng-container *ngIf="facade.data$ | async as data">
  <ng-container *ngFor="let race of data.result; let last = last">
    <h2>{{ race.season }} {{ race.raceName }}</h2>
    <app-table-preview
      [columns]="columns"
      [data]="{ count: data.count, result: race.QualifyingResults }"
      [query]="facade.queryParams$ | async"
      [showPagination]="last"
      (queryChange)="onQueryChange($event)"
    ></app-table-preview>
    <br />
    <hr />
    <br />
  </ng-container>
</ng-container>

<app-full-screen-loading-spinner
  *ngIf="facade.loading$ | async"
></app-full-screen-loading-spinner>
